<%= form_with(model: municipio, local: true) do |form| %>
  <% if municipio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(municipio.errors.count, "error") %> prohibited this municipio from being saved:</h2>

      <ul>
      <% municipio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :municipio_nome %>
  </div>

  <div class="field">
    <%= form.label :estado_id %>
    <%= form.number_field :estado_id, id: :municipio_estado_id %>
  </div>

  <div class="field">
    <%= form.label :criado_por %>
    <%= form.number_field :criado_por, id: :municipio_criado_por %>
  </div>

  <div class="field">
    <%= form.label :atualizado_por %>
    <%= form.number_field :atualizado_por, id: :municipio_atualizado_por %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
