

<h1>Solicitacao Enviadas</h1>

<table>
  <thead>
    <tr>
      <th>Local</th>
      <th>Descricao</th>
      <th>Data abertura</th>
      <th>Data encerramento</th>
      <th>Observacao</th>
      <th>Status</th>
      <th>Criado por</th>
      <th>Atualizado por</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitacao_enviadas.each do |solicitacao_enviada| %>
      <tr>
        <td><%= solicitacao_enviada.local %></td>
        <td><%= solicitacao_enviada.descricao %></td>
        <td><%= solicitacao_enviada.data_abertura %></td>
        <td><%= solicitacao_enviada.data_encerramento %></td>
        <td><%= solicitacao_enviada.observacao %></td>
        <td><%= solicitacao_enviada.status %></td>
        <td><%= solicitacao_enviada.criado_por %></td>
        <td><%= solicitacao_enviada.atualizado_por %></td>
        <td><%= link_to 'Show', solicitacao_enviada %></td>
        <td><%= link_to 'Edit', edit_solicitacao_enviada_path(solicitacao_enviada) %></td>
        <td><%= link_to 'Destroy', solicitacao_enviada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solicitacao Enviada', new_solicitacao_enviada_path %>
