<%- model_class = Solicitante -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:tipo_tratamento) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:sexo) %></th>
      <th><%= model_class.human_attribute_name(:data_aniversario) %></th>
      <th><%= model_class.human_attribute_name(:endereco) %></th>
      <th><%= model_class.human_attribute_name(:bairro) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:profissao) %></th>
      <th><%= model_class.human_attribute_name(:organizacao) %></th>
      <th><%= model_class.human_attribute_name(:titulo) %></th>
      <th><%= model_class.human_attribute_name(:observacao) %></th>
      <th><%= model_class.human_attribute_name(:categoria_id) %></th>
      <th><%= model_class.human_attribute_name(:municipio_id) %></th>
      <th><%= model_class.human_attribute_name(:cep) %></th>
      <th><%= model_class.human_attribute_name(:telefone_fixo) %></th>
      <th><%= model_class.human_attribute_name(:celular) %></th>
      <th><%= model_class.human_attribute_name(:comercial) %></th>
      <th><%= model_class.human_attribute_name(:estado_civil_id) %></th>
      <th><%= model_class.human_attribute_name(:cpf) %></th>
      <th><%= model_class.human_attribute_name(:rg) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @solicitantes.each do |solicitante| %>
      <tr>
        <td><%= link_to solicitante.id, solicitante_path(solicitante) %></td>
        <td><%= solicitante.tipo_tratamento %></td>
        <td><%= solicitante.nome %></td>
        <td><%= solicitante.sexo %></td>
        <td><%= solicitante.data_aniversario %></td>
        <td><%= solicitante.endereco %></td>
        <td><%= solicitante.bairro %></td>
        <td><%= solicitante.email %></td>
        <td><%= solicitante.profissao %></td>
        <td><%= solicitante.organizacao %></td>
        <td><%= solicitante.titulo %></td>
        <td><%= solicitante.observacao %></td>
        <td><%= solicitante.categoria_id %></td>
        <td><%= solicitante.municipio_id %></td>
        <td><%= solicitante.cep %></td>
        <td><%= solicitante.telefone_fixo %></td>
        <td><%= solicitante.celular %></td>
        <td><%= solicitante.comercial %></td>
        <td><%= solicitante.estado_civil_id %></td>
        <td><%= solicitante.cpf %></td>
        <td><%= solicitante.rg %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      solicitante_path(solicitante), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_solicitante_path(solicitante), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      solicitante_path(solicitante),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_solicitante_path,
            :class => 'btn btn-primary' %>
